.contact {
  margin: 1rem;
  font-size: var(--size-xs);
  padding: 0.5rem;
  box-shadow: 5px 5px 1rem black;
  border: 2px solid;
  border-image-slice: 1;
  border-image-source: conic-gradient(#AD2590, #D642B6, #159BFF, #0070C0, #AD2590); 
  background-color: var(--clr-light);
}

.contact__header {
  display: flex;
  justify-content: center;
  font-size: var(--size-base);
  padding: 1em;
}

h5 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-size: var(--size-sm);
}

.box {
  margin: 0 auto 2rem auto;
  width: 95%;
}

.contact__form {
  margin-bottom: 1rem;
}

.formbox {
  position: relative;
  width: 100%;
  box-sizing: border-box;
}

.formbox .row50 {
  display: flex;
  gap: 1rem;
}

.inputBox {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 50%;
}

.formbox .row100 .inputBox {
  width: 100%;
}

.inputBox input {
  padding: 0.25rem;
  outline: none;
  border: 0.5px solid var(--clr-greyfont);
  border-radius: 5px;
}

.inputBox select {
  padding: 0.25rem;
  outline: none;
  border: 0.5px solid var(--clr-greyfont);
  border-radius: 5px;
}

.inputBox textarea {
  padding: 0.25rem;
  outline: none;
  border: 0.5px solid var(--clr-greyfont);
  border-radius: 5px;
  resize: none;
  min-height: 220px;
  margin-bottom: 0.25rem;
}

.inputBox input[type="submit"] {
  background-color: var(--clr-greyfont);
  color: var(--clr-light);
  font-size: 1.1rem;
  font-weight: 500;
  cursor: pointer;
  max-width: 120px;
  box-shadow: 2px 2px 0.5rem rgb(60, 60, 60);
}

.contact__info .infoBox div {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.contact__info p {
  margin: 0;
}

.contact__info i {
  min-width: 16px;
  min-height: 16px;
  margin-right: 2rem;
  padding: 0;
}

.contact__info a:hover {
    background-image: linear-gradient(to right, #AD2590, #D642B6, #159BFF, #0070C0);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

.contact__info .socials {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-size: var(--size-3xl);
}

.contact__map iframe {
  width: 100%;
  height: 100%;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  align-self: center;
}

/*xs*/
/* @media (min-width: 475px) {

} */

/*sm*/
/* @media (min-width: 640px) {

} */

/*md*/
@media (min-width: 768px) {
  .contact {
    font-size: var(--size-sm);
  }
  
  h5 {
    font-size: var(--size-base);
  }
}

/* lg */
@media (min-width: 1024px) {
.contact {
  margin: 0;
}

  .box {
  position: relative;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas:
  "form info"
  "form map";
  gap: 1rem;
}

.contact__form {
  grid-area: form;
  margin-bottom: 0;
}

.contact__info {
  grid-area: info;
}

.contact__map {
  grid-area: map;
}

.contact__map iframe {
  width: 100%;
  height: 100%;
}
} 

/*xl*/
/* @media (min-width: 1280px) {

} */

/*2xl*/
/* @media (min-width: 1536px) {

} */


