.footer {
  text-align: center;
  margin: 1rem;
  border-top: 3px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to right, #AD2590, #D642B6, #159BFF, #0070C0);
}

.footer__img{
  padding: 1em 1em;
  font-size: var(--size-xl);
}

.footer__img:hover {
  background-image: linear-gradient(to right, #AD2590, #D642B6, #159BFF, #0070C0);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer__copyright {
  color: var(--clr-lightfont);
  font-size: var(--size-xs);
}